@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  min-height: 100vh;
  text-align: center;
}

/* Home Page  */



#main-header-desktop {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 15%;  
  font-size: 1.3rem;
  /* background-color: aqua; */
}

#main-header-mobile {
  display: none;

}

#title-items {
  display: flex;
  /* background-color: aliceblue; */
}

.title-item {
  margin: 20px;
  list-style: none;
  text-decoration: none;
  color: black;
}

.title-item a {
  text-decoration: none;
  color: black;
  font-weight: 400;
  font-size: 1.3rem;
}

#my-img img {
  height: 300px;
  width: 300px;
  border-radius: 50%;
}

.menu-links {
  position: absolute;
  right: 19%;
  background-color: white;
  font-size: large;
  color: black;
}

.menu-links > li{
  margin: 20px;
  list-style: none;
}

.menu-links > li > a {
  text-decoration: none;
  color: black;
}

@media screen and (min-width: 768px) {
  #home-container {
    height: 100vh;
  }

  #home-body {
    display: flex;
    justify-content: space-between;
    padding: 3.5rem;
    text-align: center;
    width: 55%;
    margin: auto;
  }

  .my-projects-body {
    display: flex;
    justify-content: space-around;
  }

  .more-projects {
    text-align: right;
  }
}

@media screen and (max-width: 768px) {
  body {
    margin: 0;
  }
  #home-container {
    height: 100vh;
  }

  #main-header-desktop {
    display: none;
  }


  #main-header-mobile {
    display: block;
    display: flex;
    justify-content: space-between;
    padding: 2rem 15%;
    text-align: center;
    align-items: center;
  }

  #my-img img {
    height: 200px;
    width: 200px;
  } 

  .project {
    width: 30%;
  }

  .more-projects {
    text-align: center;
  }
}

#intro-text h5 {
  font-weight: 300;
  margin: 0;
}

#myname-home {
  font-weight: 700;
  font-size: 2.5rem;
  margin: 0;
}

#mypos-home {
  font-size: 1.5rem;
  margin: 0;
  font-weight: 400;
}

.contact-buttons {
  display: flex;
  justify-content: space-around;
  width: 50%;
  margin: auto;
}

.contact-buttons button {
  padding: 20px 40px;
  border-radius: 30px;
  background-color: white;
  color: black;
  border: 1px solid #ccc;
  margin: 25px;
}

.contact-buttons > div > a > button:hover {
  cursor: pointer;
  background-color: black;
  color: white;
}

.social-media-buttons {
  transform: scale(1.4);
  margin: 25px;
}

.social-media-buttons:hover {
  transform: scale(2);
  cursor: pointer;
}

/* About Page  */

#about-me {
  width: 80%;
  margin: auto;
  height: 100vh;
}

.about-me-heading {
  padding-top: 100px;
}

.about-me-labels {
  display: flex;
  justify-content: space-around;
}

.about-me-labels div {
  border: 1px solid black;
  border-radius: 20px;
  padding: 10px;
  margin: 10px;
  /* height: 200px; */
  flex: 1;
}

/* Projects Page  */

#my-projects {
  padding-top: 10px;
  width: 90%;
  margin: auto;
  flex-wrap: wrap;
}


.project {
  border: rgb(163, 163, 163) 0.1rem solid;
  border-radius: 30px;
  padding: 15px;
  margin: 20px;
  width: 80%;
  flex: 1;
}

.project button {
  background-color: white;
  padding: 10px;
  border-radius: 5px;
  margin: 10px;
}

.project button:hover {
  background-color: black;
  color: white;
}

.more-projects {
  padding: 10px;
}


.explore-projects {
  padding: 20px 40px;
  border-radius: 30px;
  background-color: black;
  color: white;
  border: 1px solid #ccc;
  text-decoration: none;
  margin-top: 20px;
  margin-right: 1rem;
}

.explore-projects:hover {
  background-color: white;
  color: black;
  cursor: pointer;
}

.project img {
  width: 90%;
  height: 250px;
}

/* Contact Me Page */

#contact-me {
  width: 80%;
  margin: auto;
  height: 100vh;
}

.contact-me-heading {
  padding: 100px;
}

.contact-me-content {
  display: flex;
  justify-content: space-around;
  margin: auto;
}

.contact-me-content div {
  display: flex;
  flex-direction: column;
}

.contact-icon {
  transform: scale(2);
  margin: 25px;
} 

.contact-icon:hover {
  transform: scale(3);
  cursor: pointer;
}

.bottom-nav {
  width: 50%;
  text-align: center;
  margin: auto;
  padding-top: 80px;
}

.bottom-nav ul {
  display: flex;
  justify-content: space-around;
  font-size: 1.5rem;
}

.footer {
  padding: 50px;
}


/* All Projects Page */
.project-items {
  display: flex;
  flex-wrap: wrap;
  padding: 1rem 3rem;
}

.project-items > div {
  flex-basis: 20%;
}
